@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 170 20% 96%;
    --foreground: 224 71.4% 4.1%;
    --card: 170 20% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 170 20% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 170 77% 36%;
    --primary-foreground: 170 80% 96%;
    --secondary: 170 20% 90%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 170 20% 90%;
    --muted-foreground: 225.5 8.9% 46.1%;
    --accent: 30 84% 51%;
    --accent-foreground: 30 80% 96%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 170 20% 85%;
    --input: 170 20% 85%;
    --ring: 170 77% 36%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47.4% 11.2%;
    --foreground: 210 20% 98%;
    --card: 222 47.4% 11.2%;
    --card-foreground: 210 20% 98%;
    --popover: 222 47.4% 11.2%;
    --popover-foreground: 210 20% 98%;
    --primary: 170 77% 36%;
    --primary-foreground: 170 80% 96%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 20% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 30 84% 51%;
    --accent-foreground: 30 80% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 170 77% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
